<footer class="footer brand-footer">
  <div class="row align-items-center justify-content-center">
    <div class="col-auto text-center">
      <div class="copyright text-muted">
        <i class="fas fa-coffee mr-1"></i><a href="https://ko-fi.com/yamsie" class="font-weight-bold" target="_blank" rel="noopener">Buy me a coffee</a> &middot; Trivia questions courtesy of <a href="https://opentdb.com" class="font-weight-bold" target="_blank" rel="noopener">Open Trivia DB</a>
      </div>
    </div>
  </div>
</footer>
