.card-height {
    min-height: 350px;
    height: 350px; /* cross-browser */
}

.clickable {
    cursor: pointer;
}

.card {
    i {
        transform: scale(1);
        transition-duration: .4s;
    }
}

.card:hover {
    i {
        transform: scale(1.2);
        transition-duration: .4s;
    }
}

.correct-answer {
    transition-duration: .4s;
    border-color: #2dce89;
    background-color: #2dce89;
}

.incorrect-answer {
    transition-duration: .4s;
    border-color: #f5365c;
    background-color: #f5365c;
}

.change-opacity-on-answer {
    transition-delay: 1.5s;
    transition-duration: 2s;
    opacity: 0;
    visibility: hidden;
}

.bleed {
    top: 10%; 
}