<div class=" pb-8 pt-md-6">
<div class="container-fluid">
  <div class="header-body">
    <!-- Card stats -->
    <div class="row">
      <div class="mx-auto">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div *ngIf="isLoaded" class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Random Trivia...</h5>
                <span class="h2 font-weight-bold mb-0"
                  [ngClass]="answerIsSelected && regenerateRandomQuestion()">{{randomQuestion.question}}</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <!-- <p class="mb-0 text-muted text-sm">
                    <span class="text-nowrap">Answers/input down here maybe?</span>
                  </p> -->
                <div *ngFor="let answer of answers; let i = index;" class="btn-group btn-group-toggle w-50"
                  ngbRadioGroup name="radioBasic" [(ngModel)]="model" [ngClass]="answerIsSelected && [makeOpaque]">
                  <label ngbButtonLabel class="btn-primary btn-block m-1" [ngClass]="answerIsSelected && [css[i]]"
                    [value]="[i]" (click)="checkAnswer(i)">
                    {{answer.text}}
                  </label>
                </div>
              </div>
              <!-- <div class="ml-auto mr-3">
                  <button class="btn btn-sm btn-primary">Submit</button>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col transforms mx-auto" data-toggle="modal" data-target="#joinQuizModal"
      (click)="openJoinQuizModal(joinQuizModal)">
      <div class="card card-height bg-gradient-success shadow clickable">
        <h3 class="card-header bg-transparent mx-auto border-0 pt-5">
          <i class="fas fa-check-circle fa-3x"></i>
        </h3>
        <div class="card-body">
          <p class="card-text text-center font-weight-bold">
            Join a quiz with an ID provided by the QuizMaster.
          </p>
        </div>
      </div>
    </div>

    <div class="col transforms mx-auto" data-toggle="modal" data-target="#hostQuizModal"
      (click)="openHostQuizModal(hostQuizModal)">
      <div class="card card-height bg-gradient-warning shadow clickable">
        <h3 class="card-header bg-transparent mx-auto border-0 pt-5">
          <i class="fas fa-list-alt fa-3x"></i>
        </h3>
        <div class="card-body">
          <p class="card-text text-center font-weight-bold">
            Host a quiz and play against your friends.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Todo: Componentise this -->
  <ng-template #joinQuizModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Join a Quiz</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="quizId">Enter the Quiz ID provided by the Quiz Master.</label>
          <div class="input-group">
            <input #quizId type="text" class="form-control" placeholder="Quiz ID" aria-label="Quiz ID"
              aria-describedby="basic-addon">
          </div>
          <label for="quizId">Enter your name.</label>
          <div class="input-group">
            <input #username type="text" class="form-control" placeholder="Quiz ID" aria-label="Quiz ID"
              aria-describedby="basic-addon">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="joinQuiz(quizId.value, username.value, joinQuizModal)">Join</button>
    </div>
  </ng-template>
  <!-- Todo: Componentise this -->
  <ng-template #hostQuizModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Host a Quiz</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="quizId" class="p-1 border-bottom">Host a quick-fire quiz with 10 questions. Time limit is 60
            seconds.</label>
          <br />
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>Question Difficulty</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Easy</button>
              <button ngbDropdownItem>Medium</button>
              <button ngbDropdownItem>Hard</button>
              <button ngbDropdownItem>Random</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" routerLink="/joinQuiz">Create</button>
    </div>
  </ng-template>
</div>
  <!-- <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Page visits</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Page name</th>
                <th scope="col">Visitors</th>
                <th scope="col">Unique users</th>
                <th scope="col">Bounce rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  /argon/
                </th>
                <td>
                  4,569
                </td>
                <td>
                  340
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/index.html
                </th>
                <td>
                  3,985
                </td>
                <td>
                  319
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/charts.html
                </th>
                <td>
                  3,513
                </td>
                <td>
                  294
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/tables.html
                </th>
                <td>
                  2,050
                </td>
                <td>
                  147
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/profile.html
                </th>
                <td>
                  1,795
                </td>
                <td>
                  190
                </td>
                <td>
                  <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Social traffic</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
                <th scope="col">Visitors</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  1,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  5,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70"
                          aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Google
                </th>
                <td>
                  4,807
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Instagram
                </th>
                <td>
                  3,678
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75"
                          aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  twitter
                </th>
                <td>
                  2,645
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30"
                          aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div> -->